<div class="wrapper row justify-content-center">
  <div class="col-md-8">
    <div class="table-header">
      <h1>
        Members
      </h1>
    </div>
    <table class="table table-responsive-md table-hover table-centered mb-0">
      <thead>
        <tr>
          <th>User</th>
          <th>Joined</th>
          <th class="text-center">Access Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members$ | async">
          <td class="user-container">
            <div
              class="user-picture image"
              *ngIf="member.photoURL"
              [style.background-image]="'url(' + member.photoURL + ')'"
            ></div>

            <div class="user-info">
              <div class="user-info_name">
                {{ member.displayName }}
              </div>
              <div class="user-info_email">
                {{ member.email }}
              </div>
            </div>
          </td>
          <td>
            <span>{{ member.joined | date: 'mediumDate' }}</span>
          </td>
          <td class="text-center">
            <span>{{ member | memberAccess }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
