// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme(
  (
    color-basic-500: #cccccc,
    color-basic-600: #999999,
    color-basic-700: #757575,
    color-basic-800: #323232,
    color-basic-900: #212121,
    color-basic-1100: #1a1a1a,
    color-primary-100: #feedd8,
    color-primary-200: #fed7b1,
    color-primary-300: #febb8b,
    color-primary-400: #fea16e,
    color-primary-500: #fe753e,
    color-primary-600: #da532d,
    color-primary-700: #b6361f,
    color-primary-800: #931e13,
    color-primary-900: #790d0b,
    color-primary-transparent-100: rgba(254, 117, 62, 0.08),
    color-primary-transparent-200: rgba(254, 117, 62, 0.16),
    color-primary-transparent-300: rgba(254, 117, 62, 0.24),
    color-primary-transparent-400: rgba(254, 117, 62, 0.32),
    color-primary-transparent-500: rgba(254, 117, 62, 0.4),
    color-primary-transparent-600: rgba(254, 117, 62, 0.48),
    color-primary-focus: color-primary-500,
    color-success-100: #d3fcd2,
    color-success-200: #a6faac,
    color-success-300: #77f18c,
    color-success-400: #53e47b,
    color-success-500: #21d363,
    color-success-600: #18b562,
    color-success-700: #10975d,
    color-success-800: #0a7a55,
    color-success-900: #06654f,
    color-success-transparent-100: rgba(33, 211, 99, 0.08),
    color-success-transparent-200: rgba(33, 211, 99, 0.16),
    color-success-transparent-300: rgba(33, 211, 99, 0.24),
    color-success-transparent-400: rgba(33, 211, 99, 0.32),
    color-success-transparent-500: rgba(33, 211, 99, 0.4),
    color-success-transparent-600: rgba(33, 211, 99, 0.48),
    color-info-100: #d8f9fe,
    color-info-200: #b2eefe,
    color-info-300: #8bdffe,
    color-info-400: #6ecefd,
    color-info-500: #3fb3fc,
    color-info-600: #2e8cd8,
    color-info-700: #1f69b5,
    color-info-800: #144a92,
    color-info-900: #0c3478,
    color-info-transparent-100: rgba(63, 179, 252, 0.08),
    color-info-transparent-200: rgba(63, 179, 252, 0.16),
    color-info-transparent-300: rgba(63, 179, 252, 0.24),
    color-info-transparent-400: rgba(63, 179, 252, 0.32),
    color-info-transparent-500: rgba(63, 179, 252, 0.4),
    color-info-transparent-600: rgba(63, 179, 252, 0.48),
    color-warning-100: #fefacc,
    color-warning-200: #fef59a,
    color-warning-300: #fded67,
    color-warning-400: #fbe541,
    color-warning-500: #f9d904,
    color-warning-600: #d6b702,
    color-warning-700: #b39702,
    color-warning-800: #907701,
    color-warning-900: #776100,
    color-warning-transparent-100: rgba(249, 217, 4, 0.08),
    color-warning-transparent-200: rgba(249, 217, 4, 0.16),
    color-warning-transparent-300: rgba(249, 217, 4, 0.24),
    color-warning-transparent-400: rgba(249, 217, 4, 0.32),
    color-warning-transparent-500: rgba(249, 217, 4, 0.4),
    color-warning-transparent-600: rgba(249, 217, 4, 0.48),
    color-danger-100: #ffecdc,
    color-danger-200: #ffd4b9,
    color-danger-300: #ffb696,
    color-danger-400: #ff9a7c,
    color-danger-500: #ff6b51,
    color-danger-600: #db463b,
    color-danger-700: #b72829,
    color-danger-800: #931924,
    color-danger-900: #7a0f20,
    color-danger-transparent-100: rgba(255, 107, 81, 0.08),
    color-danger-transparent-200: rgba(255, 107, 81, 0.16),
    color-danger-transparent-300: rgba(255, 107, 81, 0.24),
    color-danger-transparent-400: rgba(255, 107, 81, 0.32),
    color-danger-transparent-500: rgba(255, 107, 81, 0.4),
    color-danger-transparent-600: rgba(255, 107, 81, 0.48),
    font-family-primary: Poppins,
    layout-padding: 2.25rem 4rem 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    spinner-background-color: inherit,
    toastr-border-radius: 0,
    toastr-success-background-color: color-basic-800,
    toastr-success-border-color: color-basic-800,
    toastr-success-text-color: color-basic-100,
    toastr-destroyable-hover-success-background-color: color-basic-900,
    toastr-destroyable-hover-success-border-color: color-basic-900,
    toastr-title-text-font-weight: 500
  ),
  poppins,
  corporate
);
