@mixin ngx-user {
  .user-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .user-info {
    display: flex;
    flex-direction: column;

    &__name {
      font-weight: 700;
    }

    &__email {
      font-size: 0.875rem;
    }
  }

  .user-picture {
    position: relative;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    &.image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
